*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
  background: #fff;
  color: #000;
  font-size: 15px;
  line-height: 1.5;
}
ul li{
  list-style: none;
}
a{
  color: #262626;
  text-decoration: none;
}

/* nav */

.container, .footer-links, .footer-base{
  width: 90%;
  max-width: 1100px;
  margin: auto;
}
.main-nav .logo{
  width: 110px;
}
.main-nav{
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-menu{
  display: flex;
  flex: 1;
  margin-left: 20px;
}
.right-menu{
  display: flex;
}
.main-nav ul li {
  padding: 0 20px 0 0;
  text-transform: capitalize;
  font-size: 14px;
}
.main-nav li a{
  padding-bottom: 2px;
}
.main-nav li a:hover{
  border-bottom: 2px solid #262626;
}
.right-menu li:first-child a, .right-menu li:nth-child(2) a {
  border-bottom: 0;
}

/* showcase */
.menu-btn {
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 40px;
  z-index: 2;
  display: none;
}
.btn{
  text-transform: capitalize;
  width: 163px;
  display: inline-block;
  padding: 8px 20px;
  background: #000;
  color:#fff;
  margin-right: 24px;
  font-size: 15px;
  font-weight: bold;
}
.btn span{
  margin-right: 10px;
}
.btn.light{
  background: none;
  color:#000;
}
.btn:hover i {
  transform: translateX(3px);
  transition: transform .3s;
}
.btn:hover span{
  border-bottom: 2px solid #fff;
  display: inline-block;
  transform: translateX(-3px);
  transition: transform .3s;
}
.btn.light:hover span{
  border-bottom: 2px solid #000;
}
.showcase{
  with:100%;
  height: 400px;
  background: url('img/slide.jpg') no-repeat center center/cover;
  display: flex;
  justify-content: start;
  align-items: center;
}
.showcase .content{
  width: 55%;
  margin-left: 80px;
}
.content p{
  padding: 10px 0 20px 0;
}
.content h1{
  font-size: 33px;
  font-weight: bold;
}

/* quick-link */
.links {
  width: 80%;
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(6, 1fr);
  text-align: center;
  padding: 80px 0 80px 0;
  margin: auto;
}
.links li a img{
  display: block;
  margin: auto;
}
.links li a {
  font-weight: bold;
}


/* home cards 1 */

.home-cards{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
.card img{
  margin-bottom: 20px;
  width: 100%;
}
.card a{
  color:#0067b8;
  padding-top: 10px;
}
.card a:hover i{
  transform: translateX(3px);
  transition: transform .3s;
}
.title h2{
  margin-bottom: 10px;
  font-size: 28px;
}

/* xbox */

.xbox {
  margin: 60px 0 60px 0;
  height: 350px;
  background: url('./img/xbox.png') no-repeat center center/cover ;
  display: flex;
  align-items: center;
}
.xbox .content{
  margin-left: 70px;
  width: 45%;
}

/* learn more */

.learn-more{
  margin: 60px 0;
  background-color: black;
  text-align: center;
}
.learn-more .content{
  padding: 20px 0 20px 0;
  width: 100%;
}
.learn-more h2{
  font-size: 32px;
}
.learn-more *{
  color: white;
}

/* AI */

.ai{
  background: url('./img/AI.png') no-repeat center center/cover;
  width: 100%;
  height: 485px;
  margin-bottom: 30px;
  display: flex;
}
.ai .content{
  margin: 40px 0 0 70px;
}
.ai h2{
  font-size: 32px;
}


/* follow */

.follow {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.follow *{
  padding-right: 10px;
}

/* footer */

footer{
  width: 100%;
  background: #f2f2f2;
  margin-top: 48px;
}
.footer-links{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap:10px;
}
.footer-links h3 {
  color: #616161;
  font-size: 16px;
}
footer  a{
  color:#616161;
  font-size: 11px;
}
.footer-links li{
  line-height: 2.4;
}
.footer-base{
  display: flex;
  font-size: 11px;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0 50px 0;
}
.footer-base .local-picker{
  display: flex;
  align-items: center;
}
.footer-base .local-picker i{
  margin-right: 10px;
}

.footer-base li{
  margin-right: 30px;
}
.footer-base ul{
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .menu-btn{
    display: block;
  }
  .main-nav ul.main-menu{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-500px);
    transition: transform .5s;
    background: #f2f2f2;
    width: 50%;
    height: 100%;
    padding: 30px;
    opacity: .9;
    border-right: 1px solid #f2f2f2;
  }
  .main-nav ul.main-menu.show{
    transform: translateX(-20px);
  }
  .btn i{
    display: none;
  }
  .btn{
    text-align: center;
  }
  .main-nav ul.main-menu li{
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  .main-nav ul.main-menu li:last-child{
    border-bottom: 0;
  }
  .main-nav ul.right-menu{
    margin-right: 30px;
  }
  .links{
    grid-template-columns: repeat(2, 1fr);
  }
  .footer-base .local-picker{
    margin-bottom: 10px;
  }
  .home-cards{
    grid-template-columns: repeat(2, 1fr);
  }
  .xbox .content p{
    display: none;
  }
  .xbox .content h2{
    margin-bottom: 20px;
  }
  .ai .content{
    width: 40%;
  }
  .footer-links{
    grid-template-columns: repeat(2, 1fr);
  }
  .footer-base{
    display: block;
  }
}
@media (max-width: 500px){
  .home-cards{
    grid-template-columns: 1fr;
  }
  .menu-btn{
    right:20px;
  }
  .content>p{
    display: none;
  }
  .showcase .content, .xbox .content, .ai .content {
    margin-left: 20px;
  }
}
